<h1>Members</h1>

<p><a href="/members/new">New Member</a></p>

<ul>
  <% @members.each do |member| %>
    <li>
      <a href="/members/<%= member.name %>"><%= member.name %></a>
      <a href="/members/<%= member.name %>/edit">Edit</a>
      <a href="/members/<%= member.name %>/delete">Remove</a>
    </li>
  <% end %>
</ul>
